.footer{
    padding: 60px 0px;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
}
.footer_logo{
    width: 40%;

}
.footer_logo h2{
    color: var(--primary-color);
  }
.footer_quick-links{ 
    width: 20%;
}
.footer_logo h1{
    color: var(--primary-color);
}
.small_text{
    font-size: 1rem;
    margin-top: 30px;

}
.quick_links-title{
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 30px;
}
.quick_links{
    list-style: none;
}
.quick_links-item{
    margin-bottom: 30px;
}
.quick_links-item a{
    font-size: .9rem;
    font-weight: 300;
    cursor: pointer;
    margin-top: 50;
}
.quick_links-item a:hover{
    color: var(--primary-color);
}